---
import FooterStacked from './FooterStacked.astro';
import LayoutCommon from './LayoutCommon.astro';
import NavBarStacked from './NavBarStacked.astro';
---

<LayoutCommon>
	<NavBarStacked />

	<div class="flex pt-16 overflow-hidden">
		<div
			id="main-content"
			class="relative w-full h-full overflow-y-auto min-h-screen"
		>
			<slot />

			<FooterStacked />
		</div>
	</div>
</LayoutCommon>
