---
import LayoutCommon from './LayoutCommon.astro';

const { centered = false, class: clazz } = Astro.props;
---

<LayoutCommon>
	<main
		class:list={[
			'bg-gray-50 dark:bg-gray-900 min-h-screen',
			centered && 'flex items-center justify-center px-6 py-16',
			!centered && 'pt-16',
			clazz,
		]}
	>
		<div
			class:list={[
				'w-full',
				!centered && 'mx-auto max-w-screen-2xl px-4 pt-6 2xl:px-0',
			]}
		>
			<slot />
		</div>
	</main>
</LayoutCommon>
